{% extends "navbar.html" %}

{% block title %}Edit Workout | Workout Tracker{% endblock %}

{% block content %}

<h1>Edit Workout</h1>

{% if errors %}
    <div style="color: red; background: #ffe6e6; padding: 10px; border-radius: 5px;">
        <strong>Please fix these errors:</strong>
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form method="POST">
        <input name="exercise" placeholder="Exercise" value="{{ workout.exercise }}">
        <br><br>
        <input name="sets" type="number" placeholder="Sets" value="{{ workout.sets}}">
        <br><br><input name="reps" placeholder="Reps (e.g. 10,8,6)" value="{{ workout.reps }}">
        <br><br><input name="weight" placeholder="Weight or 'bw'" value="{{ workout.weight }}">
        <br><br>
        <input name="notes" placeholder="Notes (optional)" value="{{ workout.notes }}">
        <br><br>
        <button type="submit">Update Workout</button>
    </form>

    <br>
    <a href="/"><- Cancel</a>

    {% endblock %}