{% extends "navbar.html" %}

{% block title %}Home | Workout Tracker{% endblock %}

{% block content %}

<h1>My Calisthenics Journey</h1>

<a href="/add">+ Add New Workout</a>
<a href="/prs">View Personal Records</a>

<hr>

<h2>Workout History</h2>

{% if workouts %}
    {% for workout in workouts %}
    <div class="workout-card">
        <strong>{{ workout.date | format_date }}</strong> - 
        {{ workout.exercise }}: 
        {{ workout.sets }} sets of 
        {{ workout.reps }} reps 
        with {{ workout.weight }}
        
        <a href="/edit/{{ workout.id }}">
            <button type="button" class="edit-btn">✏️ Edit</button>
        </a>
        
        <form method="POST" action="/delete/{{ workout.id }}" style="display: inline; margin-left: 5px;" onsubmit="return confirm('Delete this workout?');">
            <button type="submit" class="delete-btn">🗑️ Delete</button>
        </form>
    </div>
        {% endfor %}
    {% else %}
        <p>No workouts yet. Click "Add New Workout" to get started!</p>
        {% endif %}

        {% endblock %}