<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Workout Tracker{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-bar">Workout Tracker</div>
            <div class="nav-links">
                <a href="/" class="{% if active_page == 'home' %}active{% endif %}">Home</a>
                <a href="/add" class="{% if active_page == 'add' %}active{% endif %}">Add Workout</a>
                <a href="/prs" class="{% if active_page == 'prs' %}active{% endif %}">Personal Records</a>
            </div>
        </nav>

        <main class="container">
            {% block content %}

            {% endblock %}
        </main>
    </body>
</html>